{{ template "base" . }}

{{ define "title" }} RPS - About {{ end }}

{{ define "content" }} 
<section>
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <h2 class="py-2">Acerca de GO</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, accusamus quasi itaque nostrum in molestias est nemo necessitatibus consequatur eaque facere repudiandae delectus provident corporis? Non itaque delectus doloremque inventore. Reprehenderit saepe repudiandae reiciendis minus, unde cumque! Tempora porro corrupti explicabo quam voluptates! Praesentium hic officia nulla? Temporibus, repudiandae cupiditate.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ipsa magnam, ex voluptates totam voluptas qui eum error suscipit, tempora minus accusamus sequi veritatis?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis dolorem quidem libero suscipit, eaque et sapiente similique vitae aliquid nisi, repellendus asperiores eligendi accusamus velit ut explicabo error accusantium in aliquam quo saepe expedita, quas recusandae. Mollitia quasi nobis cum?</p>

        <ul class="py-3">
          <li><a href="https://www.google.com" target="_blank">Google</a></li>
          <li><a href="https://www.google.com" target="_blank">Google</a></li>
          <li><a href="https://www.google.com" target="_blank">Google</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{ end }}

RPS web - Inicio